 
      .video-thumbnail 
      {
        width: 100%;
       
      }


      .video-preview 
      {
        width: 100%;
      }

      .video-time
      {
        background-color: black;
        color: white;
        position: absolute;
        bottom: 10px;
        right: 4px;
        font-size: 12px;
        font-family: roboto, arial;
        padding: 4px 4px;
        border-radius: 2px;
      }

      .upper-section-general
      {
        margin-bottom: 10px;
        position: relative;
      }

      

      .channel-logo
      {
        width: 36px;
        border-radius: 50%;
      }

      .video-title
      {
        margin-top: 0;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        margin-bottom: 10px; 
      }

      .video-title-link
      {
        color: inherit;
        text-decoration: none;
      }

      .video-author, .video-stats
      {
        font-size: 12px;
        color: rgb(96, 96, 96);
      }

      .video-author
      {
        margin-bottom: 4px;
      }



      .video-info-grid
      {
        display: grid;
        grid-template-columns: 50px 1fr;
        margin-top: 8px;
      }

      .homepage-grid
      {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 12px;
        row-gap: 32px;
      }


      @media 
      (max-width: 1200px) {
        .homepage-grid {
          grid-template-columns: repeat(3, 1fr);
        }
      }

      @media
      (max-width: 900px) {
        .homepage-grid {
          grid-template-columns: repeat(2, 1fr);
        }
      }

      @media
      (max-width: 600px) {
        .homepage-grid {
          grid-template-columns: 1fr;
        }
      }
