.header
{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(214, 214, 214);
  z-index: 100;
}

.left-section
{
  align-items: center;
  display: flex;
}

.hamburger-menu
{
  height: 24px;
  margin-left: 24px;
  margin-right: 16px;
}

.youtube-logo
{
  height: 24px;
}


.middle-section
{
  flex: 1;
  margin-left: 60px;
  margin-right: 30px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.search-bar
{
  height: 36px;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1) ;
  width: 0;
}

.search-bar::placeholder
{
  font-family: roboto, arial;
  font-size: 14px;
}

.search-button
{
  height: 40px;
  width: 64px;
  background-color: rgb(240, 240, 240);
  border-width: 1px;
  border-style: solid;
  border-color: rgb(191, 191, 191);
  margin-left: -1px;
  margin-right: 8px;
  
}

.search-button, .voice-button, 
.upload-icon-container, .youtube-apps-container, .notifications-icon-container
{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button .tooltip, .voice-button .tooltip, 
.upload-icon-container .tooltip, .youtube-apps-container .tooltip, .notifications-icon-container .tooltip
{
  position: absolute;
  background-color: gray;
  color: white;
  padding: 4px 8px;
  border-radius: 2px;
  font-size: 12px;
  bottom: -30px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
  font-family: roboto, arial;
}

.search-button:hover .tooltip, .voice-button:hover .tooltip, 
.upload-icon-container:hover .tooltip,
.youtube-apps-container:hover .tooltip, .notifications-icon-container:hover .tooltip
{
  opacity: 1;
}

.search-icon
{
  height: 24px;
  } 


.voice-button
{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  background-color: rgb(245, 245, 245);
}

.voice-icon
{
  height: 24px;

  
}


.right-section
{ margin-right: 20px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.upload-icon
{
  height: 24px;
}


.youtube-apps-icon
{
  height: 24px;
}


.notifications-icon
{
  height: 24px;
}

.notifications-icon-container
{
  position: relative;
}

.notifications-count
{
  position: absolute;
  top: -2px;
  right: -2px;
  background-color: red;
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 10px;
}

.my-channel-icon
{
  height: 32px;
  border-radius: 16px;
}
